/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
*{
	margin:0px;
	padding:0px;
}



body{
	font-family:economica, arial, sans-serif !important;
	color:#f0f0f0;
	font-size:1em;
	font-weight:normal;
	background:url(../images/newthemeimage/body-bg.gif) repeat;
}

a{
	text-decoration:none;
	outline:none;
	border:none;
}


a img{
	text-decoration:none;
	outline:none;
	border:none;
}

.clear{
	width:100%;
	height:1px;
	clear:both;
}

h1{
	font-size:22px;
	color:#333333;
}

h2{
	font-size:18px;
	color:#ffffff;
}


hr{
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:1px solid #666666;
	margin:5px 0px;
}


.my-wrapper{
	max-width:960px;
	height:auto;
	margin:10px auto;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	 background-color: #9d301e;
 
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#9d301e), to(#49160e));

 
  background: -webkit-radial-gradient(circle, #9d301e, #49160e);


  background: -moz-radial-gradient(circle, #9d301e, #49160e);


  background: -ms-radial-gradient(circle, #9d301e, #49160e);
  padding-bottom:5px;
}

.header{
	width:90%;
	height:auto;
	margin:0 auto;
	position:relative;
}

.timer{
	width:auto;
	position:absolute;
	right:0px;
	bottom:2px;
	text-transform:uppercase;
	color:#f0f0f0;
	font-size:16px;
	background:url(../images/newthemeimage/timer.png) left no-repeat;
	padding:7px 0px 7px 50px;
}

.logo{
	height:69px;
	width:150px;
	float:left;
	margin-bottom:5px;
}


.top-menu{
	width:auto;
	min-width:50px;
	padding:10px 20px;
	background:#712a00;
	float:right;
	color:#f0f0f0;
}


.top-menu a{
	color:#f0f0f0;
	text-transform:uppercase;
}



.sub-wrapper{
	width:98.5%;
	height:auto;
	margin:0px auto;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	
	border-bottom-right-radius:5px;
		-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	
	border:2px solid #d4af78;
	box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-webkit-box-shadow:inset 0px 0px 20px rgba(255,255,255,0.5), inset 0px 0px 20px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-o-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-ms-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	border-top:none !important;
	padding-bottom:5px;
}


.sub-sub-wrapper{
	width:98.7%;
	height:auto;
	margin:0px auto;
	background:#d5c38a;
		border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	
	border-bottom-right-radius:5px;
		-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	padding-bottom:5px;
}


.my-menu{
	width:97%;
	height:35px;
	 background-color: #a3852b;
	 margin:0 auto;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3852b), to(#bba458));


  background: -webkit-linear-gradient(top, #a3852b, #bba458);


  background: -moz-linear-gradient(top, #a3852b, #bba458);

 
  background: -ms-linear-gradient(top, #a3852b, #bba458);


  background: -o-linear-gradient(top, #a3852b, #bba458);
  	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	
	border-bottom-right-radius:5px;
		-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	position:relative;
}


.my-menu a{
	display:block;
	height:35px;
	padding:0px 20px;
	background:url(../images/menu-border.png) no-repeat right center;
	float:left;
	line-height:35px;
	color:#f0f0f0;
	text-transform:uppercase;
	font-weight:400;
}

.my-menu a:hover{
	color:#333333;
}


.devider{
	border-radius:15px;
	background:#000000;
	height:10px;
}

.right-menu{
	height:35px;
	width:auto;
	min-width:30px;
	position:absolute;
	right:0px;
	top:0px;
}
.right-menu ul{ list-style:none; margin:0px; padding:0px;}
.right-menu ul li{ display: inline; float:left;}



.my-menu .right-menu a{
	display:inline;
	float:none;
	padding:0px 10px;
	text-transform:capitalize;
	background:none;
}

.booking-box{
	width:97%;
	margin:10px auto;
	height:auto;
}

.instant-booking{
	width:29%;
	height:auto;
	float:left;
	padding:1%;
		border:1px solid #961312;
	box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-webkit-box-shadow:inset 0px 0px 20px rgba(255,255,255,0.5), inset 0px 0px 20px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-o-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-ms-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	padding-bottom:26px;
}

.poster{
	width:auto;
	min-width:67%;
	float:right;
	position:relative;
}
.poster ul{ list-style:none; margin:0px; padding:0px;} 
.poster ul li{ float:left; list-style-type:none; position:absolute;}
.poster ul li img{ width:602px; height:248px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}



.instant-booking label{
	color:#333333;
	font-size:18px;
	padding-right:15px;
}

.row{
	height:30px;
	padding-top:13px;
}

.row select{
	width:95%;
	height:27px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border:1px solid #961312;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#fefefe));


  background: -webkit-linear-gradient(top, #efefef, #fefefe);


  background: -moz-linear-gradient(top, #efefef, #fefefe);

 
  background: -ms-linear-gradient(top, #efefef, #fefefe);


  background: -o-linear-gradient(top, #efefef, #fefefe);
  text-transform:uppercase;
  font-family:inherit;
  font-size:14px;
  color:#888888;
}


.content-area{
	width:97%;
	height:auto;
	margin:0 auto;
}



.left-content{
	width:29%;
	height:auto;
	min-height:230px;
	float:left;
	padding:1%;
	background:#39393a;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#39393a), to(#000000));


  background: -webkit-linear-gradient(top, #39393a, #000000);


  background: -moz-linear-gradient(top, #39393a, #000000);

 
  background: -ms-linear-gradient(top, #39393a, #000000);


  background: -o-linear-gradient(top, #39393a, #000000);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	position:relative;
}

.reel-bg{
	position:absolute;
	bottom:0px;
	left:0px;
}

.right-content{
	width:64.5%;
	height:auto;
	float:right;
	background:#39393a;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#39393a), to(#000000));
	background: -webkit-linear-gradient(top, #39393a, #000000);
	background: -moz-linear-gradient(top, #39393a, #000000);
	background: -ms-linear-gradient(top, #39393a, #000000);
	background: -o-linear-gradient(top, #39393a, #000000);
  	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	padding:10px;
}

.movie-box{
	width:33.3333333333%;
	height:auto;
	float:left;
	text-align:center;
	padding:5px 0px;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}

.movie-box img{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border:1px solid #999999;
}


.movie-box a{
	display:block;
	height:30px;
	width:100px;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	text-transform:uppercase;
	
  border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	 background-color: #a3852b;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3852b), to(#bba458));


  background: -webkit-linear-gradient(top, #a3852b, #bba458);


  background: -moz-linear-gradient(top, #a3852b, #bba458);

 
  background: -ms-linear-gradient(top, #a3852b, #bba458);


  background: -o-linear-gradient(top, #a3852b, #bba458);
  	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
  margin:10px auto;
}


.movie-box a:hover{

box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-webkit-box-shadow:inset 0px 0px 20px rgba(255,255,255,0.5), inset 0px 0px 20px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-o-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-ms-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;	
}


.footer{
	width:99%;
	height:auto;
	background:#c3ae6f;
	margin:0 auto;	
	padding:7px 0px;
	margin-top:10px;
	text-align:center;
}


.footer a{
	color:#f0f0f0;
}

.footer a:hover{
	color:#000;
}

.bottom-text{
	width:99%;
	height:auto;
	padding:10px 0px;
	margin:0 auto;
}

.left-bot{
	display:block;
	float:left;
	color:#ffffff;
}


.right-bot{
	display:block;
	float:right;
	color:#ffffff;
}

.instant-booking-inner{
	width:98%;
	margin:0 auto;
	padding-bottom:8px;
}

.instant-booking-inner .row{
	width:25%;
	float:left;
}

.instant-booking-inner label{
	color:#333333;
	font-size:18px;
	padding-right:15px;
}

.booking-box-inner{
	width:97%;
	margin:10px auto;
	height:auto;
	border:2px solid #ffffff;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
}

.show-time{
	height:auto;
	padding:0px 10px;
}


.lable{
	width:30%;
	float:left;
}

.timings{
	width:60%;
	height:auto;
	float:right;
}

.timings a{
	display:block;
	height:25px;
	text-align:center;
	line-height:25px;
	color:#ffffff;
	text-transform:uppercase;
	
  border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	 background-color: #a3852b;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3852b), to(#bba458));


  background: -webkit-linear-gradient(top, #a3852b, #bba458);
  padding:0px 10px;
  float:left;
  margin-right:10px;
  font-size:12px;
}

.inner-content{
	width:100%;
	margin:0 auto;
	background:#39393a;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#39393a), to(#000000));


  background: -webkit-linear-gradient(top, #39393a, #000000);


  background: -moz-linear-gradient(top, #39393a, #000000);

 
  background: -ms-linear-gradient(top, #39393a, #000000);


  background: -o-linear-gradient(top, #39393a, #000000);
  border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	padding:10px 0px;
}

.book_btn input {
    background: url("/images/btn_image_r.gif") no-repeat scroll right top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 26px;
    left: 3px;
    padding: 3px 7px 10px 0;
}
.book_btn {
    background: url("/images/btn_image_l.gif") no-repeat scroll left top transparent;
    float: left;
    height: 26px;
    padding-left: 8px;
}
#fancybox-content table {
    color: #000000 !important;
    font-family: verdana;
    font-size: 12px;
    margin: 0;
}
.right-content h1,.cart-title h1{ color:#fff; }

.cart-title{
	padding:3px 0px 3px 40px;
	background:url(../images/cart.png) no-repeat left center;
	
}




.cart-but{
	display:block;
	height:30px;
	padding:5px 10px;
	text-align:center;
	color:#ffffff;
	text-transform:uppercase;
	
  border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	 background-color: #a3852b;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3852b), to(#bba458));


  background: -webkit-linear-gradient(top, #a3852b, #bba458);


  background: -moz-linear-gradient(top, #a3852b, #bba458);

 
  background: -ms-linear-gradient(top, #a3852b, #bba458);


  background: -o-linear-gradient(top, #a3852b, #bba458);
  	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	font-size:12px;
	font-weight:bold;
	border:none;
	outline:none;
	margin-right:10px;
	float:left;
	cursor:pointer;
}

.cart-but:hover{

box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-webkit-box-shadow:inset 0px 0px 20px rgba(255,255,255,0.5), inset 0px 0px 20px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-o-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;
	-ms-box-shadow:inset 0px 0px 20px #ffffff, inset 0px 0px 20px #ffffff;	
}

a.cart-but{ 
	font-size: 14px;
    height: 10px;
    line-height: 10px;
    padding: 10px 15px;
}


.cart p{
	text-transform:uppercase;
	line-height:25px;
}


.event{
	width:100%;
	height:auto;
}

.event a{
	width:100%;
	height:auto;
	text-align:center;
}

.event a img{
	width:100%;
}
.help, .contact {
    padding: 0 10px;
}
.help p {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-align: justify;
}
.help ul li{color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-align: justify; margin:10px 0px; }

.contact p {
    color: #F0F0F0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-align: justify;
}
.no-bg {
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: auto;
    padding: 10px 0;
    width: 66.5%;
}
.cont-but a {
    background: -moz-linear-gradient(center top , #A3852B, #BBA458) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}
.cont-but a:hover {
    box-shadow: 0 0 20px #FFFFFF inset, 0 0 20px #FFFFFF inset;
}
a {
    border: medium none;
    color: #993300;
    outline: medium none;
    text-decoration: none;
}
h3 {
    color: #333333;
    display: block;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}

.contact input[type="text"], .contact input[type="email"] {
    height: 30px;
    margin: 2%;
    padding-left: 1%;
    width: 44%;
	background:#fff;
}

.contact textarea {
    font-family: Arial,Helvetica,sans-serif;
    height: 120px;
    margin-left: 2%;
    padding-left: 1%;
    padding-top: 1%;
    width: 94%;
	background:#fff;
}

.contact input[type="submit"] {
    background: -moz-linear-gradient(center top , #A3852B, #BBA458) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin: 2%;
    outline: medium none;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out 0s;
}
.contact input[type="submit"]:hover {
    color: #333333;
}

@media only screen and (max-device-width: 480px) {
.my-wrapper{ width:100%;}
.main-content{ width:100%; height:1000px;}
.instant-booking{ width:95% !important; height:100%;}
.content-area{width:100% !important; height:100%; }
.content-area .no-bg{width:100% !important; padding:20px 0px;}
.left-content { display:none;}
.main-content{ width:100% !important; height:100%; }
#detail{ width:100%!important; height:100%!important;}
.my-wrapper{ width:100%; margin:0px; padding:0px; }
	
	}


