body {
	margin-top: 10px;
	font-family: Arial;
	color:#5b5b5b;
}
h2 { font-size: 20px; color: #999; padding: .5em 0;}
h3 { font-size: 14px; }

/* Structure
------------------------------------------*/
#coolMenu,
#coolMenu ul {
	list-style: none;
}
#coolMenu {
	float: left;
}
#coolMenu > li {
	float: left;
}
#coolMenu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 5px 1.8em;
	text-decoration: none;
	font-size:13px;
}
#coolMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#coolMenu ul li a {
	width: 106px;
}
#coolMenu li:hover ul.noJS {
	display: block; 
}


/* Main menu
------------------------------------------*/
#coolMenu {
	font-family: Arial, Helvetica, sans-serif;
	background: #2f8be8;
	font-size:15px;
	width:100%;
	margin:0 auto;
}
#coolMenu > li > a {
	color: #fff;
	font-weight: bold;
}
#coolMenu > li:hover > a {
	background: #f09d28;
	color: #000;
}


/* Submenu
------------------------------------------*/
#coolMenu ul {
	background: #f09d28;
}
#coolMenu ul li a {
	color: #000;
}
#coolMenu ul li:hover a {
	background: #ffc97c;
}


/* Arun
------------------------------------------*/

#loginForm table{
	background:none !important;
}

.a{
	color:#5b5b5b;
}

.b{
	width:1020px;
	height:auto;
	margin:0 auto;
	background:#f5f5f5;
	padding-bottom:20px;
}

.container_16 .grid_16{
	/*width:920px !important;*/
	margin:0px !important;
}

.logo{
	width: 1020px;
	height: 104px;
	margin: 0 auto 0px auto;
	background: #f5f5f5;
	text-align:center;
}

#wrapper{
	width:100% !important;
}



