.login {
width: 420px;
height: auto;
margin: 10% auto 0 auto;
padding: 20px;
border-radius: 5px;
-webkit-border-radius: 5px;
-ms-border-radius: 5px;
-moz-border-radius: 5px;
border: 1px solid #dddddd;
background: #f7f7f7;
}
.title {
text-align: center;
padding-bottom: 30px;
}
.login a {
color: #333333;
text-decoration: underline;
}
.message {
color: #FF0000;
font-family: arial;
font-size: 15px;
margin-bottom: 20px;
}

.login p {
font-size: 14px;
line-height: 20px;
}

.login input[type="text"], .login input[type="password"] {
width: 98%;
height: 36px;
margin-top: 3px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border: 1px solid #dddddd;
font-family: inherit;
font-size: 20px;
font-family: inherit;
color: #5b5b5b;
padding-left: 2%;
}

.forget {
text-align: right;
}

.sub-but {
height: 30px;
padding: 0px 5px;
color: #ffffff;
cursor: pointer;
background-color: #2974ac;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5ba5dc), to(#2974ac));
background: -webkit-linear-gradient(top, #5ba5dc, #2974ac);
background: -moz-linear-gradient(top, #5ba5dc, #2974ac);
background: -ms-linear-gradient(top, #5ba5dc, #2974ac);
background: -o-linear-gradient(top, #5ba5dc, #2974ac);
text-decoration: none;
text-transform: capitalize;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
font-weight: bold;
}